.star {
  color: #ccc; /* Default star color */
  font-size: 24px;
}

.star.filled {
  color: #28a745; /* Filled star color */
}
ul {
  list-style: none; /* Remove bullets */
  padding: 0; /* Remove default padding */
  display: inline-block;
}

li {
  display: inline; /* Display list items horizontally */
}

li:not(:last-child)::after {
  content: ", "; /* Add comma after each list item except the last one */
}
.artists-label {
  font-weight: bold;
  display: inline-block;
}
.album-name {
  color: #28a745;
  font-weight: bold;
}
/* App.css */

body {
  background-color: black;
  color: white; /* Text color */
  font-family: 'Cutive Mono' !important;
  font-weight: lighter;
}

.card {
  background-color: #343a40; /* Dark green background for cards */
  color: white;
}

.star.filled {
  color: #28a745; /* Green color for filled stars */
}

.form-control {
  color: black;
}

/* .landing-page {
    background-image: url('/public/1.jpg');
    background-size: cover;
    background-position: top center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #1db954;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #1ed760;
  }
   */

.card:hover {
  box-shadow: 0 0 10px rgba(40, 167, 69, 0.6); /* Green shadow on hover */
  transform: scale(1.08); /* Increase scale on hover */
  transition: box-shadow 0.5s, transform 0.5s; /* Longer transition duration */
}
.search-container {
  padding: 20px; /* Add padding around the search input */
}
.search-container input {
  background-color: #242424; /* Set the background color of the input to gray */
  color: white;
}
.search-container input::placeholder {
  color: white; /* Set the color of the placeholder text to light gray */
}

.form-control:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid white;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-section,
.right-section {
  width: 100%;
}

.left-section {
  text-align: center; /* Center align text */
}

.left-section h1 {
  font-size: 2rem;
}

.left-section p {
  font-size: 1.2rem;
}

.login-button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #1db954;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block; /* Ensure button is inline with text */
}

.login-button:hover {
  background-color: #1ed760;
}

.right-section {
  position: relative;
  width: 100%;
}

.right-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 185, 84, 0.7); /* Green color with transparency */
  z-index: 1; /* Ensure the overlay is above the image */
}

.right-section img {
  width: 100%;
  height: auto;
  display: block;
}

/* Responsive layout */
@media (min-width: 768px) {
  .landing-page {
    flex-direction: row;
  }

  .left-section,
  .right-section {
    width: 50%;
  }
}

.input-group-lg .form-control:focus {
  box-shadow: none;
  background-color: #242424;
  color: white;
}

.search-btn {
  background-color: #242424;
  border: 1px solid white; /* Add a white border */
  padding: 0;
}

.search-icon {
  color: white; /* Change the color to green */
}

.search-btn:hover {
  background-color: transparent !important;
  box-shadow: none !important;
  border: 1px solid white;
}
